{
    "presets": [
      ["env", {
        "targets": {
          "chrome":"67"
        },
        "loose" : true,
        "modules": "umd"
      }]
    ],
    "plugins": ["transform-object-rest-spread"]
  }